source/
.venv/
jsons/
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
env2/
venv2/
htmlcov/
.coverage
.coverage.*
.cache
.github
data
tests
backups
output
test.db
docker-compose.yml
docker-compose.override.yml
Dockerfile
docker-compose.dev.yml
docker-compose.production.yml